Repository cesmec/wiimote-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-format, clang-format

rust-format:
  name: Format all rust files to keep them consistent
  entry: rustfmt -l
  stages:
  - commit
  language: system

clang-format:
  name: Run clang-format for C++ and C files
  entry: clang-format -i
  language: python
  args:
  - -style=file
  require_serial: false
  additional_dependencies: []
  minimum_pre_commit_version: 2.9.2

Re-structure wiimote scanning C++ code
  build.rs
  src/cpp/wiimote_api.h
  src/cpp/wiimote_scan_win.cpp
  src/hid.h
Due: rust-format, clang-format

Create wiimote class to interface without hidapi
  build.rs
  examples/low_level.rs
  src/cpp/scope_guard.h
  src/cpp/wiimote_api.cpp
  src/cpp/wiimote_api.h
  src/cpp/wiimote_scan_win.cpp
  src/cpp/wiimote_shared.h
  src/cpp/wiimote_win.cpp
  src/cpp/wiimote_win.h
Due: rust-format, clang-format

Add linux support using libbluetooth
  .github/workflows/ci.yml
  build.rs
  src/cpp/wiimote_api.h
  src/cpp/wiimote_linux.cpp
  src/cpp/wiimote_linux.h
  src/cpp/wiimote_scan_linux.cpp
Due: rust-format, clang-format

Add wiimote identifier
  examples/low_level.rs
  src/cpp/wiimote_api.cpp
  src/cpp/wiimote_api.h
  src/cpp/wiimote_linux.cpp
  src/cpp/wiimote_linux.h
  src/cpp/wiimote_scan_linux.cpp
  src/cpp/wiimote_scan_win.cpp
  src/cpp/wiimote_shared.h
  src/cpp/wiimote_win.cpp
  src/cpp/wiimote_win.h
Due: rust-format, clang-format

Add read_timeout to WiimoteBase
  src/cpp/wiimote_api.cpp
  src/cpp/wiimote_api.h
  src/cpp/wiimote_linux.cpp
  src/cpp/wiimote_linux.h
  src/cpp/wiimote_shared.h
Due: clang-format

Use overlapped read on windows
  .clangd
  build.rs
  src/cpp/wiimote_win.cpp
  src/cpp/wiimote_win.h
Due: rust-format, clang-format

Remove dependency on hidapi
  Cargo.lock
  Cargo.toml
  build.rs
  src/cpp/wiimote_api.h
  src/cpp/wiimote_scan_linux.cpp
  src/cpp/wiimote_scan_win.cpp
  src/lib.rs
  src/result.rs
  src/wiimote/device.rs
  src/wiimote/manager.rs
  src/wiimote/mod.rs
  src/wiimote/simple_io.rs
Due: rust-format, clang-format

Use overlapped write and fill expected buffer size
  .clangd
  build.rs
  src/cpp/wiimote_scan_win.cpp
  src/cpp/wiimote_win.cpp
  src/cpp/wiimote_win.h
Due: rust-format, clang-format

Combine CI steps with matrix and build examples
  .github/workflows/ci.yml
Due: none

Update checkout action to v4
  .github/workflows/ci.yml
Due: none

Replace native windows cpp with rust code
  Cargo.lock
  Cargo.toml
  build.rs
  src/wiimote/device.rs
  src/wiimote/manager.rs
  src/wiimote/mod.rs
  src/wiimote/native/common.rs
  src/wiimote/native/mod.rs
  src/wiimote/native/windows/bluetooth.rs
  src/wiimote/native/windows/hid.rs
  src/wiimote/native/windows/mod.rs
Due: rust-format

Rename default report buffer size
  examples/motion_plus.rs
  examples/read_buttons.rs
  src/lib.rs
  src/wiimote/input.rs
  src/wiimote/output.rs
  src/wiimote/simple_io.rs
Due: rust-format

Add linux backend written in rust
  .github/workflows/ci.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  build.rs
  src/bluetooth_linux.h
  src/wiimote/native/common.rs
  src/wiimote/native/linux/mod.rs
  src/wiimote/native/mod.rs
Due: rust-format, clang-format

Remove C++ code
  .clang-format
  .clangd
  .pre-commit-config.yaml
  examples/low_level.rs
  src/cpp/scope_guard.h
  src/cpp/wiimote_api.cpp
  src/cpp/wiimote_api.h
  src/cpp/wiimote_linux.cpp
  src/cpp/wiimote_linux.h
  src/cpp/wiimote_scan_linux.cpp
  src/cpp/wiimote_scan_win.cpp
  src/cpp/wiimote_shared.h
  src/cpp/wiimote_win.cpp
  src/cpp/wiimote_win.h
Due: rust-format, clang-format

Remove reconnected devices receiver
  examples/read_buttons.rs
  src/wiimote/manager.rs
Due: rust-format

Add docs and tests for input module
  src/wiimote/extensions/mod.rs
  src/wiimote/extensions/motion_plus.rs
  src/wiimote/input.rs
Due: rust-format

Add docs and tests for output module
  src/wiimote/output.rs
Due: rust-format

Use reports instead of buffers for read and write
  examples/motion_plus.rs
  examples/read_buttons.rs
  src/device.rs
  src/input.rs
  src/output.rs
  src/simple_io.rs
Due: rust-format

Remove wiimote folder and module
  build.rs
  examples/motion_plus.rs
  examples/read_buttons.rs
  src/calibration.rs
  src/device.rs
  src/extensions/mod.rs
  src/extensions/motion_plus.rs
  src/input.rs
  src/lib.rs
  src/manager.rs
  src/mod.rs
  src/native/common.rs
  src/native/linux/bluetooth_linux.h
  src/native/linux/mod.rs
  src/native/mod.rs
  src/native/windows/bluetooth.rs
  src/native/windows/hid.rs
  src/native/windows/mod.rs
  src/output.rs
  src/simple_io.rs
Due: rust-format, clang-format

Add docs for device module
  src/device.rs
Due: rust-format

Simplify examples
  examples/motion_plus.rs
  examples/read_data.rs
Due: rust-format

Add readme
  README.md
Due: none

Remove cc dependency
  Cargo.lock
  Cargo.toml
Due: none

Add package metadata to Cargo.toml
  Cargo.toml
Due: none

Generate libbluetooth bindings in OUT_DIR
  .gitignore
  build.rs
  src/native/linux/bindings.rs
Due: rust-format

Fix WiiBrew links in docs
  src/input.rs
  src/output.rs
Due: rust-format

Simplify WiimoteManager
  src/manager.rs
Due: rust-format

Add release action
  .github/workflows/release.yml
Due: none

Remember unrelated HID devices on windows
  src/native/windows/hid.rs
  src/native/windows/mod.rs
Due: rust-format

Update version to 0.1.1
  Cargo.lock
  Cargo.toml
Due: none

Prefix release tags with v
  .github/workflows/release.yml
Due: none

Add badges for crates.io and docs.rs
  README.md
Due: none

Prevent infinite loop caused by unrelated devices
  src/native/windows/hid.rs
Due: rust-format

Remove bindgen build dependency on windows
  Cargo.toml
  build.rs
Due: rust-format

Return length zero for read timeouts on linux
  src/native/linux/mod.rs
Due: rust-format

Calibrate slow and fast motion plus zero values
  src/extensions/motion_plus.rs
Due: rust-format

Use release-action to create github releases
  .github/workflows/release.yml
Due: none

Read correct bits for roll and pitch slow flags
  src/extensions/motion_plus.rs
Due: rust-format

Include description for errors on linux
  src/native/linux/mod.rs
Due: rust-format

Use poll before read on linux
  src/native/linux/mod.rs
Due: rust-format

Path conditions:
  rust-format: any of: \.rs$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
